<% provide(:title, 'About') %>

<h2>About Us</h2>

<p>Mobile Phones are a 100% Irish owned Electrical Retailer that specialise in mobile phones. We currently have 15 Retail Stores and a Distribution Centre around Ireland. There are four stores in Dublin and Cork and the rest are in Limerick City, Waterford City, Galway, Sligo, Tralee and Wexford. The main Distribution Centre (including a Customer Collection Point) has recently relocated to:</p>

<div class="about">
  <p>Mobile Phones Warehouse</p>
  <p>Kevin Road</p>
  <p>New Business Park 8</p>
  <p>Dublin</p>
</div>

<p>Mobile Phones has been in existence since its incorporation in 1998. In this time it has enjoyed steady growth due to a solid expansion plan making Mobile Phonese a leading retailer in the Irish Electrical Mobile Phones Industry.</p>

<p>Everyone at Mobile Phones understands and appreciates the importance of providing an excellent customer experience along with some of Ireland’s lowest prices. We pride ourselves in having the ability to understand the customer’s individual requirements which enables us to provide excellent assistance to the customer in making the right purchase.</p>

<p>The long history of the company, together with the engrained customer service ethos has enabled us to ensure that we always provide superb customer service which includes help and support long after the sale has been completed. We take great satisfaction in customers recommending our tried and tested offering to their friends and work colleagues. We feel that it is primarily for this reason that we have grown into a thriving enterprise with 85 people currently employed.</p>

<p>Now in 2018 we are excited to launch our new updated website we aim to provide a much improved online shopping experience to our customers.</p>

<p>We hope that you find both researching and shopping on line at Mobile Phones an enjoyable experience.  We would appreciate any feedback that could improve this online shopping experience. Please do not hesitate to contact us by e-mail at info@mobilephones.ie.</p>
