<% provide(:title, 'Help') %>

<h2>Frequently Asked Questions</h2>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          When will my order be delivered?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Orders placed Monday to Saturday before 8pm will benefit from free next working day delivery, subject to a successful network credit check (if applicable) and stock availability. Orders placed after 8pm on Saturday or over the weekend will be processed on Monday (unless a bank holiday) and delivered Tuesday.
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How can I check on my order status?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        You can check your order status by logging in to the account section of the website which can be found here. Once in your account, click on ‘order tracking’ and this will show you the status of any orders you have placed. You will also be updated via email on the process of your order.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Can I track my order once it is shipped?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Once your order is ready to send out to you, an ‘order dispatched’ email containing your order tracking reference number will be sent to you. You can use this to track your order via the DPD website.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Can you tell me what time my delivery will be with me?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        DPD will provide a one hour delivery slot as a guide to when your parcel should be with you. As above, simply use the tracking information provided to you in your “order dispatched” email where you will find details of your delivery slot and the current progress of your parcel.
      </div>
    </div>
  </div>
</div>