<h1>New Mobile</h1>

<%= render 'form', mobile: @mobile %>

<div class="row">
    <div class="col-4">
    <%= link_to 'Back', mobiles_path, :class => "btn btn-primary", :role => "button" %>
    </div>
</div>
